@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Melted Monster';
  src: url('./fonts/MeltedMonster.ttf') ;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --header-background-rgb: rgb(30, 46, 71);
  --dark-red: #100406;
  --wine-red: #391018;
  --orange: #E24B16;
  --yellow: #F9B642;
  --blue: #082739;
}

body {
  background-color: var(--blue);
  color: var(--orange);
}

a {
  text-decoration: none;
}

/* Change link color when not visited */
a:link {
  color: inherit; /* You can use "inherit" to inherit the parent's color */
}

/* Change link color when visited */
a:visited {
  color: inherit; /* You can use "inherit" to inherit the parent's color */
}

.hero-header {
  margin: 0;
  text-align: center;
  font-size: 56px;
  font-weight: 300;
  font-family: 'Melted Monster';
}
