.button {
  /* font-family: 'Melted Monster'; */
  background: var(--yellow);
  color: var(--dark-red);
  width: auto;
  width: 160px;
  height: 50px;
  font-size: 24px;
  font-weight: 600;
  font-style: italic;
  margin: 5px;
  border-style: none;
  border-radius: 2px;
  padding: 5px;
}

.button-auth {
  font-family: 'Melted Monster';
  color: var(--dark-red);
}

.button:hover {
  /* background-color: var(--orange); */
  /* color: var(--blue); */
  transform: skew(2deg, 2deg);
  text-decoration: none;
  animation: pulse 1s infinite;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}

  40% {
    transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

	70% {
		transform: scale(0.95);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}