@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Melted Monster';
  src: url('./fonts/MeltedMonster.ttf') ;
}

@font-face {
  font-family: 'Maiden';
  src: url('./fonts/maiden.ttf')
}

:root {
  --foreground-rgb: rgb(0, 0, 0);
  --background-start-rgb: rgb(214, 219, 220);
  --background-end-rgb: rgb(255, 255, 255);
  --header-background-rgb: rgb(30, 46, 71);
  --dark-red: #100406;
  --wine-red: #391018;
  --orange: #E24B16;
  --yellow: #F9B642;
  --blue: #082739;
}

body {
  background-color: var(--dark-red);
  color: var(--orange);
}

a {
  text-decoration: none;
}

/* Change link color when not visited */
a:link {
  color: inherit; /* You can use "inherit" to inherit the parent's color */
}

/* Change link color when visited */
a:visited {
  color: inherit; /* You can use "inherit" to inherit the parent's color */
}

main {
  margin: auto;
  text-align: center;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10rem;
}

.players-container {
  margin-left: 10rem;
  margin-right: 10rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 7rem;
}