@font-face {
  font-family: 'Melted Monster';
  src: url('../../../public/Melted\ Monster.ttf') format('truetype');
}
.hero {
    display: block;
    /* background-color: var(--header-background-rgb); */
    width: 100%;
    height: 50rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .hero-text-container {
    height: 5rem;
    width: 40rem;
    margin: auto;
    display: block;
  }

  .hero-text {
    color: red;
    font-size: 56px;
    font-weight: 300;
    font-family: 'Melted Monster';
  }