.button {
  background: var(--yellow);
  color: var(--dark-red);
  width: 200px;
  height: 75px;
  font-size: 36px;
  font-weight: 600;
  font-style: italic;
  margin: 5px;
  border-style: none;
}

.button:hover {
  background-color: var(--orange);
  color: var(--blue);
  transform: skew(2deg, 2deg);
  text-decoration: none;
}